<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Molisnail"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true">


        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.LogInActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".perfil.AboutActivity"/>
        <activity android:name=".perfil.ConfigurationActivity"/>
        <activity android:name=".perfil.ReviewActivity"/>
        <activity android:name=".tienda.StoreActivity"/>
        <activity android:name=".tienda.PaymentWebViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="myapp"
                    android:host="paypal-callback" />
            </intent-filter>
        </activity>

        <activity android:name=".citas.PedirCitaActivity" />
        <activity
            android:name=".tienda.CartActivity"
            android:exported="true"> <!-- Acceso a otras apps -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.espparki.molisnail" android:host="paypalpay" />
                <data android:scheme="com.espparki.molisnail" android:host="paypal" android:path="/success" />
                <data android:scheme="com.espparki.molisnail" android:host="paypal" android:path="/cancel" />
            </intent-filter>
        </activity>
        <activity android:name=".tienda.PaymentResultActivity" />
        <activity android:name=".perfil.HistorialCitasActivity" />
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".admin.catalogo.CatalogoAdminActivity" />
        <activity android:name=".admin.citas.CitasAdminActivity" />
        <activity android:name=".admin.productos.ProductsAdminActivity" />
        <activity android:name=".admin.usuarios.UsersAdminActivity" />
        <activity android:name=".admin.productos.AddProduct" />
        <activity android:name=".admin.productos.EditProduct" />
        <activity android:name=".admin.catalogo.AddDesignActivity" />
        <activity android:name=".admin.usuarios.ViewUserActivity" />
        <activity android:name=".admin.usuarios.ViewUserAppointmentsActivity" />







    </application>

    <!-- Permisos -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
